body {
	padding-top: 80px;
	padding-bottom: 40px;
}

#play-again {
	clear: both;
	padding-top: 30px;
}

#game {
	width: 750px;
	border: 0px solid #CCC;
	background-color: #FFF;
}

#board {

}

#score, #tries {
    position: fixed;
    top: 0;
    margin-top: 25px;
}

#tries {
	right:0;
}

.card {
	width: 66px;
	height: 66px;
	border: 2px solid #FFF;
	background-repeat: no-repeat;
	background-color: #EEE;
	float: left;
	background-image: url(img/back/back6.png)
}

.try {
	border: 2px solid #8380fe;
}

.found {
	border: 2px solid #adffa5;
}

