body {
	padding-top: 80px;
	padding-bottom: 40px;
	background-image: url(img/back/back3.png);
	background-size: 2400px 1200px;
}
body, #score h1, #tries h1, #game h1{
	font-family: 'Righteous', cursive;
}


#play-again {
	clear: both;
	padding-top: 30px;
}

#game {
	width: 1700px;
	margin-top: 50px;
	margin-bottom: 1000px;
	color: #cf2929;
}

#navbar2{
	background-color: #cf2929da;
	border-color: #cf2929da;
}

#game h1{
	color: #cf2929;
}

#board {

}

#score, #tries {
    position: fixed;
    top: 0;
	margin-top: 25px;
	background-color: rgb(253, 233, 119);
	border-color: rgb(253, 233, 119);
}

#score h1, #tries h1{
	color: #cf2929;
}

#tries {
	right:0;
}

.card {
	width: 134px;
	height: 134px;
	border: 2px solid #FFF;
	background-repeat: no-repeat;
	background-color: #EEE;
	float: left;
	background-image: url(img/back/back2.png);
	margin-top: 20px;
	margin-left: 20px;
}

.try {
	border: 4px solid #ffd828;
	border-radius: 5px;
}

.found {
	border: 4px solid #cf2929;
	border-radius: 5px;
}

