html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #000000;
  overflow: hidden;
}

#game {
  height: 100%;
  margin: 0px;
  background: linear-gradient(217deg, rgba(0,100,255,.8), rgba(0,100,255,0) 70.71%), 
  linear-gradient(127deg, rgba(200,255,0,.8), rgba(200,255,0,0) 70.71%), 
  linear-gradient(336deg, rgba(255,100,0,.8), rgba(255,100,0,0) 70.71%);
}

#road-line {
  position: absolute;
  left: 0px;
  bottom: -38px;
  display: flex;
  z-index: 6;
}

.road{
  background-image: url(images/road.png);
  background-repeat: repeat-x;
  height: 140px;
}

.bridge{
  background-image: url(images/bridge.png);
  background-repeat: repeat-x;
  height: 140px;
}

.croco{
  background-image: url(images/croco.gif);
  background-repeat: repeat-x;
  height: 102px;
}

#tree-line{
  position: absolute;
  left: 0px;
  bottom: 82px;
  display: flex;
  z-index: 5;
}

.tree1{
  background-image: url(images/tree1.png);
  background-repeat: repeat-x;
  height: 193px;
  width: 186px;
}

.tree2{
  background-image: url(images/tree2.png);
  background-repeat: repeat-x;
  height: 193px;
  width: 186px;
}

#tree-line2{
  position: absolute;
  left: 0px;
  bottom: 75px;
  display: flex;
  z-index: 3;
  background-size: 150px 140px;
}

.tree1{
  background-image: url(images/tree1.png);
  background-repeat: repeat-x;
  height: 193px;
  width: 186px;
  
}

.tree2{
  background-image: url(images/tree2.png);
  background-repeat: repeat-x;
  height: 193px;
  width: 186px;
}

#tree-line3{
  position: absolute;
  left: 0px;
  bottom: 40px;
  display: flex;
  z-index: 1;
  background-size: 100px 90px;
}

.tree1-{
  background-image: url(images/tree1.png);
  background-repeat: repeat-x;
  height: 193px;
  width: 186px;
  background-size: 100px 90px;
}

.tree2-{
  background-image: url(images/tree2.png);
  background-repeat: repeat-x;
  height: 193px;
  width: 186px;
  background-size: 100px 90px;
}

#grass-line{
  position: absolute;
  left: 0px;
  bottom: 80px;
  display: flex;
  z-index: 4;
  background-image: url(images/grass.png);
  background-repeat: repeat-x;
  height: 90px;
}

#grass-line2{
  position: absolute;
  left: 0px;
  bottom: 60px;
  display: flex;
  z-index: 5;
  background-image: url(images/grass.png);
  background-repeat: repeat-x;
  height: 80px;
}

#grass-line3{
  position: absolute;
  left: 0px;
  bottom: 100px;
  display: flex;
  z-index: 2;
  background-image: url(images/grass.png);
  background-repeat: repeat-x;
  height: 90px;
}

#pillar-line{
  position: absolute;
  left: 0px;
  bottom: 126px;
  display: flex;
  z-index: 2;
}

.pillar{
  background-image: url(images/pillar.png);
  background-repeat: repeat-x;
  height: 300px;
  width:591px;
}

#pillar-line2{
  position: absolute;
  left: 0px;
  bottom: 110px;
  display: flex;
  z-index: 1;
}

.pillar2{
  background-image: url(images/pillar.png);
  background-repeat: repeat-x;
  height: 150px;
  width: 1000px;
}

#fire-line{
  position: absolute;
  left: 0px;
  bottom: 85px;
  display: flex;
  z-index: 7;
}

.fire{
  background-image: url(images/fire.gif);
  background-repeat: repeat-x;
  height: 100px;
  width:100px;
}

#coins-line{
  position: absolute;
  left: 0px;
  bottom: 200px;
  display: flex;
  z-index: 7;
}

.coins{
  background-image: url(images/coin/coin-1.png);
  background-repeat: repeat-x;
  height: 34px;
  width: 34px;
}

.bomb{
  position: absolute;
  left: 0px;
  bottom: 95px;
  display: flex;
  z-index: 7;
  background-image: url(images/bomb/bomb-1.png);
  background-repeat: repeat-x;
  height: 65px;
  width: 67px;
}

.bird{
  position: absolute;
  left: 0px;
  bottom: 220px;
  display: flex;
  z-index: 7;
  background-image: url(images/bird/bird1.png);
  background-repeat: repeat-x;
  height: 64px;
  width: 71px;
}

.player{
  position: absolute;
  left: 300px;
  bottom: 97px;
  display: flex;
  z-index: 8;
  background-image: url(images/player/run-1.png);
  background-repeat: repeat-x;
  height: 92px;
  width: 55px;
}

#score {
  padding: 10px;
  background-color: #FF8C0D;
  color: rgb(36, 36, 36);
  font-size: 22px;
  /*font-weight: bold;*/
  position: fixed;
  right: 10px;
  top: 10px;
  border: 5px #FFFFFF;
  border-radius: 30px;
  font-family: 'Press Start 2P', cursive;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#game-over-box {
  width: 100%;
  margin-top: 10%;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 99999999;
  z-index: 9;
}

#game-over-box #box {
  width: 450px;
  height: 300px;
  margin: auto;
  background: radial-gradient(circle, #FF8C0D, rgb(255, 255, 116), rgba(255, 255, 255, 0.486));
  /*background-color: #EDFAFF;*/
  opacity: 0.95;
  border: 8px solid #FF8C0D;
  /*box-shadow: 0px 0px 30px #000;*/
  border-radius: 2px;
  padding: 20px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow:
                1px 1px rgb(189, 140, 89),
                2px 2px rgb(189, 140, 89),
                3px 3px rgb(189, 140, 89);
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

#game-over-box #restart {
  background-color: rgba(255, 138, 13, 0.788);
  border-radius: 10px;
  padding: 10px;
  color: black;
  border: 1,5px solid #000;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
}

#game-over-box #restart:hover {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  -ms-transition: -ms-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  transform: rotate(360deg) scale(2);
  -ms-transform: rotate(360deg) scale(2);
  -webkit-transform: rotate(360deg) scale(2);
  
}
  
/* ------------------------------------------------------------------ */
